<div class='listers'>
	<div class='row'>
		<div class='lister-header'>
			LISTING YOUR CAR
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-3 list-step-main'>
			1. GETTING STARTED
		</div>
	</div>
	<div class='row'>
		<i class='lister-icon fa fa-user-o col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-list-ul col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-car col-xs-4' style='font-size:25px;'></i>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step'>
			Sign Up
		</div>
		<div class='col-xs-4 list-step'>
			Fill out a Form
		</div>
		<div class='col-xs-4 list-step'>
			List
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4'>
			If you haven't already, create your free account today.
		</div>
		<div class='col-xs-4'>
			You’ll fill out our form, take and upload photos, and pick a price. Your listing helps renters get a sense of what your car is like.
		</div>
		<div class='col-xs-4'>
			List your car to let potential renters view your car.
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step-main'>
			2. RENTERS VIEW YOUR CAR
		</div>
	</div>
	<div class='row'>
		<i class='lister-icon fa fa-group col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-id-card-o col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-handshake-o col-xs-4' style='font-size:25px;'></i>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step'>
			Customers view
		</div>
		<div class='col-xs-4 list-step'>
			Check
		</div>
		<div class='col-xs-4 list-step'>
			Agree
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4'>
			Potential customers will see your car listing and decide if it fits their needs.
		</div>
		<div class='col-xs-4'>
			People will say whether or not they're interested. If they are, make sure to go through necessary information with them and check if you would like to rent out your car to them.
		</div>
		<div class='col-xs-4'>
			Agree to rent out your car on a specific time and location. Make sure everything to message back and forth so everything's good to go.
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step-main'>
			3. PREPARE YOUR CAR
		</div>
	</div>
	<div class='row'>
		<i class='lister-icon fa fa-check-square-o col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-plane col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-credit-card col-xs-4' style='font-size:25px;'></i>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step'>
			Prepare
		</div>
		<div class='col-xs-4 list-step'>
			Park your car
		</div>
		<div class='col-xs-4 list-step'>
			Get Paid
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4'>
			Check if all the preparations for your car are ready, such as cleanliness, a full tank of gas, and that everything you need is out of the car.
		</div>
		<div class='col-xs-4'>
			Drive your car to the airport that you and the renter have predetermined. Find where we're located and leave your car with us.
		</div>
		<div class='col-xs-4'>
			Get paid while you're away. When you get back, your car will already be ready for you to use on your return.
		</div>
	</div>
</div>
<div class='renters'>
	<div class='row'>
		<div class='lister-header'>
			RENTING A CAR
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-3 list-step-main'>
			1. GETTING STARTED
		</div>
	</div>
	<div class='row'>
		<i class='lister-icon fa fa-user-o col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-wpforms col-xs-4' style='font-size:25px;'></i>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step'>
			Sign Up
		</div>
		<div class='col-xs-4 list-step'>
			Basic Info
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4'>
			If you haven't already, create your free account today.
		</div>
		<div class='col-xs-4'>
			Tell us where you're headed and when, and we'll find the appropriate listings just for you.
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step-main'>
			2. VIEW OUR CARS
		</div>
	</div>
	<div class='row'>
		<i class='lister-icon fa fa-eye col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-filter col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-thumbs-o-up col-xs-4' style='font-size:25px;'></i>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step'>
			View
		</div>
		<div class='col-xs-4 list-step'>
			Filter
		</div>
		<div class='col-xs-4 list-step'>
			Book
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4'>
			View our wide array of car listings tailored to when and where you will arrive.
		</div>
		<div class='col-xs-4'>
			Filter for what type of car you want. Look for things like size, cupholders, space, etc. We want you to enjoy the car you drive.
		</div>
		<div class='col-xs-4'>
			Once you decide what car you want, let the owner know and wait for him or her to agree.
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step-main'>
			3. Rent
		</div>
	</div>
	<div class='row'>
		<i class='lister-icon fa fa-plane col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-car col-xs-4' style='font-size:25px;'></i>
		<i class='lister-icon fa fa-calendar-minus-o col-xs-4' style='font-size:25px;'></i>
	</div>
	<div class='row'>
		<div class='col-xs-4 list-step'>
			Arrive
		</div>
		<div class='col-xs-4 list-step'>
			Drive
		</div>
		<div class='col-xs-4 list-step'>
			Finish
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4'>
			Once you arrive, find our location at the airport. You're car will be ready for you.
		</div>
		<div class='col-xs-4'>
			Drive for the remainder of your trip or vacation. 
		</div>
		<div class='col-xs-4'>
			Make sure to return the car before you have to leave. Clean the car etc.
		</div>
	</div>
</div>
<div class='locations'>
	<div class='row'>
		<div class='lister-header'>
			OUR LOCATIONS
		</div>
	</div>
	<div class='row'>
		<img src='/images/map.png' class='col-xs-6'/>
		<div class='col-xs-6'>
			<div class='row col-xs-6'>
				<div class='airport'>
					<div class='airport-name'>
						Airport Name
					</div>
					<div class='airport-address'>
						Airport Address
					</div>
				</div>
			</div>
			<div class='row col-xs-6'>
				<div class='airport'>
					<div class='airport-name'>
						Airport Name
					</div>
					<div class='airport-address'>
						Airport Address
					</div>
				</div>
			</div>
			<div class='row col-xs-6'>
				<div class='airport'>
					<div class='airport-name'>
						Airport Name
					</div>
					<div class='airport-address'>
						Airport Address
					</div>
				</div>
			</div>
			<div class='row col-xs-6'>
				<div class='airport'>
					<div class='airport-name'>
						Airport Name
					</div>
					<div class='airport-address'>
						Airport Address
					</div>
				</div>
			</div>
			<div class='row col-xs-6'>
				<div class='airport'>
					<div class='airport-name'>
						Airport Name
					</div>
					<div class='airport-address'>
						Airport Address
					</div>
				</div>
			</div>
			<div class='row col-xs-6'>
				<div class='airport'>
					<div class='airport-name'>
						Airport Name
					</div>
					<div class='airport-address'>
						Airport Address
					</div>
				</div>
			</div>
		</div>
	</div>
</div>