<div class='row'>
	<div class='col-xs-8 col-xs-offset-2 landing'>
		<h1 id='phrase1'>Unforgettable trips start with Ander.</h1>
		<h1 id='phrase2'>Ride like a local. The best thing since sliced bread.</h1>
	</div>
</div>

<div class='row rent'>
	<form class='row col-xs-8 col-xs-offset-2 rent-form'>
		<div class='col-xs-3 form-box'>
			<div class='row'>
				<label>Where</label>
			</div>
			<div class='row'>
				<input type='text' name='location' placeholder='Enter an airport' />
			</div>
		</div>
		<div class='col-xs-7 form-box'>
			<div class='row'>
				<label style='padding-left: 15px;'>When</label>
			</div>
			<div class='row'>
				<input type='text' name='time-in' placeholder='Calendar Dropdown***' class='col-xs-5' />
				<div class='col-xs-2'>⟹</div>
				<input type='text' name='time-out' placeholder='Calendar Dropdown***' class='col-xs-5' />
			</div>
		</div>
		<div class='col-xs-2'>
			<input type='submit' value='Search' class='rent-btn' />
		</div>
	</form>
</div>

<div class='row instructions'>
	<div class='row col-xs-8 col-xs-offset-2'>
		<div class='col-xs-4 step'>
			<i class='fa fa-book' style='font-size:50px;'></i>
			<p class='step-instruction'>1. Book</p>
			<p class='step-instruction2'>Find a car that fits your needs.</p>
		</div>
		<div class='col-xs-4 step'>
			<i class='fa fa-plane' style='font-size:50px;'></i>
			<p class='step-instruction'>2. Arrive</p>
			<p class='step-instruction2'>When you land, your car will be ready.</p>
		</div>
		<div class='col-xs-4 step'>
			<i class='fa fa-car' style='font-size:50px;'></i>
			<p class='step-instruction'>3. Drive</p>
			<p class='step-instruction2'>That's it!</p>
		</div>
	</div>
</div>



