<form class='list-form'>
	<div class='row'>
		<div class='lister-header'>
			Airport Logistics
		</div>
	</div>
	<div class='row'>
		<label class='col-xs-6'>Airport</label>
	</div>
	<div class='row'>
		<input class='list-field col-xs-6' type='text' name='airport' placeholder='Which airport will you be listing your car? (dropdown)' />
	</div>
	<br/>
	<div class='row'>
		<label class='col-xs-6'>Start Rent Date</label>
		<label class='col-xs-6'>End Rent Date</label>
	</div>
	<div class='row'>
		<input class='list-field col-xs-6' type='text' name='start' placeholder='When will you be leaving? (This will be a calendar dropdown)' />
		<input class='list-field col-xs-6' type='text' name='end' placeholder='When will you be returning? (This will be a calendar dropdown)' />
	</div>
	<br/><br/>
	<div class='row'>
		<div class='lister-header'>
			About Your Car
		</div>
	</div>
	<div class='row'>
		<label class='col-xs-6'>Model</label>
		<label class='col-xs-6'>License Plate</label>
	</div>
	<div class='row'>
		<input class='list-field col-xs-6' type='text' name='model' placeholder='(e.g. Mercedes S100)' />
		<input class='list-field col-xs-6' type='text' name='license' placeholder='License Plate #' />
	</div>
	<br/>
	<div class='row'>
		<label class='col-xs-6'>Color</label>
		<label class='col-xs-6'>Seats</label>
	</div>
	<div class='row'>
		<input class='list-field col-xs-6' type='text' name='color' placeholder='What color is your car?' />
		<input class='list-field col-xs-6' type='text' name='seats' placeholder='How many passengers can your car hold?' />
	</div>
	<br/>
	<div class='row'>
		<label class='col-xs-12'>Any other considerations?</label>
	</div>
	<div class='row'>
		<textarea class='list-field col-xs-12' type='text' name='other' placeholder="Is there anything else you'd like our renters to consider (e.g. What type of gas your car needs)?"></textarea>
	</div>
	<br/>
	<div class='row'>
		<label class='col-xs-12'>Upload Photos of Your Car</label>
	</div>
	<div class='row'>
		<div class='col-xs-4 photo-filler'>
			Upload photo here
		</div>
		<div class='col-xs-4 photo-filler'>
			Upload photo here
		</div>
		<div class='col-xs-4 photo-filler'>
			Upload photo here
		</div>
	</div>
	<br/>
	<div class='row'>
		<input class='list-btn2 col-xs-4 col-xs-offset-4' type='Submit' value='Submit' />
	</div>
</form>